{% comment %}

  -----------------------------------------------------------------------------
  Heading Element
  More info: https://lightly-digital/docs/heading-element

  Copyright 2021 Lightly Digital - support@lightly.digital
  -----------------------------------------------------------------------------

  Usage:

  {% render 'heading-element',
    text: { string } - required
    text_color: { string } 'primary', 'secondary' 
    text_align: { string } 'center', 'left'
    text_align_md_up: { string } 'center', 'left'
    heading_type: { string } - h1, h2, h3, h4, h5, h6
    heading_style: { string } expects display-1,2,3,4 %}

{% endcomment %}

{% comment %} Class defaults {% endcomment %}
{% assign classes = 'heading-element' %}

{% if text_color != blank %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'text-'
    | append: text_color %}
{% else %}
  {% assign classes = classes | append: 'text-primary' %}
{% endif %}

{% if text_align != blank %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'text-'
    | append: text_align %}
{% else %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'text-left' %}
{% endif %}

{% if text_align_md_up != blank %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'text-md-'
    | append: text_align_md_up %}
{% else %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'text-md-left' %}
{% endif %}

{% if heading_style != blank %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: heading_style %}
{% else %}
  {% assign classes = classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'display-2' %}
{% endif %}

{% if heading_type != blank %}
  {% assign heading_type = heading_type %}
{% else %}
  {% assign heading_type = 'h2' %}
{% endif %}

{% if text_color != blank %}
  {% assign text_color = 'text-' | append: text_color %}
{% else %}
  {% assign text_color = 'text-secondary' %}
{% endif %}

{% if text != blank %}
  {% assign content = '<span class="' | append:  text_color | append:  '">' | append: text | append: '</span>'%}
{% endif %}

{% comment %} HTML content {% endcomment %}
{% capture 'html_content' %}
  {% if content != blank %}
    <{{ heading_type }} class="{{ classes }}">{{ content }}</{{ heading_type }}>
  {% endif %}
{% endcapture %}

{% comment %} Render {% endcomment %}
{% if html_content != blank %}
  {{ html_content }}
{% endif %}