{% comment %}

  -----------------------------------------------------------------------------
  Video Object
  More info: https://lightly-digital/docs/video-object

  Copyright 2021 Lightly Digital - support@lightly.digital  
  -----------------------------------------------------------------------------

  Usage:

  {% render 'video-object',
    video_url: { obj } - required - expects video object
    aspect_ratio: { string } - i.e. 1by1 %}

{% endcomment %}
{% if video_url != blank %}
  {% assign video_url = video_url %}
{% else %}
  {% assign video_url = false %}
{% endif %}

{% comment %} Video Wrapper Classes {% endcomment %}
{% assign embed_wrapper_classes = 'embed-responsive' %}
{% if aspect_ratio != blank %}
  {% assign embed_wrapper_classes = embed_wrapper_classes
    | append: ' embed-responsive-'
    | append: aspect_ratio %}
{% else %}
  {% assign embed_wrapper_classes = embed_wrapper_classes
    | append: ' '
    | append: 'embed-responsive-4by3' %}
{% endif %}

{% comment %} Embeded Responsive Item Classes {% endcomment %}
{% assign embed_responsive_item_classes = 'embed-responsive-item' %}

{% if video_url %}
  {% capture content %}
    {% if video_url.type == 'youtube' %}
      <iframe
        class="{{ embed_responsive_item_classes }}"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{ video_url.id }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    {% elsif video_url.type == 'vimeo' %}
      <iframe
        class="{{ embed_responsive_item_classes }}"
        src="https://player.vimeo.com/video/{{ video_url.id }}"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen></iframe>
    {% endif %}
  {% endcapture %}
{% endif %}

{% comment %} Render Video Object {% endcomment %}
{% if content %}
  <div class="{{ embed_wrapper_classes }}">
    {{ content }}
  </div>
{% endif %}