{% comment %}

  -----------------------------------------------------------------------------
  Product Card
  -----------------------------------------------------------------------------

  Usage:

  {% render 'product-card',
    featured_image: { obj } product image object
    title: { string }
    excerpt: { string }
    url: { string }
    compare_at_price:  { string }
    price_varies: { boolean }
    price: { string } %}

{% endcomment %}
<div class="mb-4 mb-md-5">
  <div class="mb-3">
    <a href="{{ url | within: collection }}">
      {% render 'image-object',
                  image_url: featured_image,
                  image_url_lg: featured_image,
                  image_alt_text: title,
                  image_aspect_ratio: '1by1' %}
    </a>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <a href="{{ url | within: collection }}">
      <p class="mb-0 text-body">{{ title }}</p>
      {% if excerpt != blank %}
        <p class="small text-body">{{ excerpt }}</p>
      {% endif %}
    </a>

    <p class="mb-0 text-body">
      {% if compare_at_price > price %}
        {% if price_varies %}
          {%- assign sale_price = price | money_without_trailing_zeros -%}
          {{ sale_price }}
        {% else %}
          {{ price | money_without_trailing_zeros }}
        {% endif %}
      {% else %}
        {% if price_varies %}
          {%- assign price_varies = price | money_without_trailing_zeros -%}
          {{ price_varies}}
        {% else %}
          {{ price | money_without_trailing_zeros }}
        {% endif %}
      {% endif %}
    </p>
  </div>
</div>
