{% comment %}

  -----------------------------------------------------------------------------
  Product Categories
  -----------------------------------------------------------------------------

{% endcomment %}

{% if product.metafields.custom_fields.meta_title_primary != blank %}
  {% assign meta_title_primary = product.metafields.custom_fields.meta_title_primary %}
{% endif %}
{% if product.metafields.custom_fields.meta_content_primary != blank %}
  {% assign meta_content_primary = product.metafields.custom_fields.meta_content_primary %}
{% endif %}
{% if product.metafields.custom_fields.meta_title_secondary != blank %}
  {% assign meta_title_secondary = product.metafields.custom_fields.meta_title_secondary %}
{% endif %}
{% if product.metafields.custom_fields.meta_content_secondary != blank %}
  {% assign meta_content_secondary = product.metafields.custom_fields.meta_content_secondary %}
{% endif %}
{% if product.metafields.custom_fields.meta_content_tertiary != blank %}
  {% assign meta_content_tertiary = product.metafields.custom_fields.meta_content_tertiary %}
{% endif %}
{% if product.metafields.custom_fields.meta_title_tertiary != blank %}
  {% assign meta_title_tertiary = product.metafields.custom_fields.meta_title_tertiary %}
{% endif %}

{% comment %} Render Section? {% endcomment %}
{% if meta_title_primary != blank %}
  {% assign show_rendered_content = true %}
{% elsif meta_content_primary != blank %}
  {% assign show_rendered_content = true %}
{% elsif meta_title_secondary != blank %}
  {% assign show_rendered_content = true %}
{% elsif meta_content_secondary != blank %}
  {% assign show_rendered_content = true %}
{% elsif meta_title_tertiary != blank %}
  {% assign show_rendered_content = true %}
{% elsif meta_content_tertiary != blank %}
  {% assign show_rendered_content = true %}
{% else %}
  {% assign show_rendered_content = false %}
{% endif %}

{% if show_rendered_content == true %}
  <ul class="list-unstyled">
    <li class="mb-4">
      <div class="row">
        <div class="col">
          <p class="h4 border-bottom">{{ meta_title_primary }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <img
            src="{{ 'icon-check.svg' | asset_url }}"
            style="width:25px;"
            alt="Check icon">
        </div>
        <div class="col-8">
          <span class="small">{{ meta_content_primary }}</span>
        </div>
      </div>
    </li>
    <li class="mb-4">
      <div class="row">
        <div class="col">
          <p class="h4 border-bottom">{{ meta_title_secondary }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <img
            src="{{ 'icon-check.svg' | asset_url }}"
            style="width:25px;"
            alt="Size icon">
        </div>
        <div class="col-8">
          <span class="small">{{ meta_content_secondary }}</span>
        </div>
      </div>
    </li>
    <li class="mb-4">
      <div class="row">
        <div class="col">
          <p class="h4 border-bottom">{{ meta_title_tertiary }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <img
            src="{{ 'icon-check.svg' | asset_url }}"
            style="width:25px;"
            alt="Light Required icon">
        </div>
        <div class="col-8">
          <span class="small">{{ meta_content_tertiary }}</span>
        </div>
      </div>
    </li>
  </ul>
{% endif %}