{% comment %} 

  -----------------------------------------------------------------------------
  Product Card
  -----------------------------------------------------------------------------

  Usage:

  {% render 'product-card',
              featured_image: { obj } product image object
              title: { string }
              excerpt: { string }
              url: { string }
              compare_at_price:  { string }
              price_varies: { boolean }
              price: { string } 
  %}

  The product card requires to have a width set on the parent element to display
  correctly (i.e. col-3).

{% endcomment %}
<div class="product-card mb-2">
  <div class="mb-4">
    <a href="{{ url | within: collection }}">
      {% render 'image-object',
                  id: id,
                  image_url_small: featured_image,
                  image_url_large: featured_image,
                  image_alt_text: title,
                  image_aspect_ratio: '1by1 rounded'
      %}
    </a>
  </div>
  <div class="d-flex justify-content-between">
    <a href="{{ url | within: collection }}" class="link-unstyled">
      <p class="mb-0 product-card-title">{{ title }}</p>
      {% if excerpt != blank %}
        <p class="small">{{ excerpt }}</p>
      {% endif %}
    </a>

    <p class="mb-0">
      {% if compare_at_price > price %}
        {% if price_varies %}
          {%- assign sale_price = price | money_without_trailing_zeros -%}
          {{ sale_price }}
        {% else %}
          {{ price | money_without_trailing_zeros }}
        {% endif %}
      {% else %}
        {% if price_varies %}
          {%- assign price_varies = price | money_without_trailing_zeros -%}
          {{ price_varies}}
        {% else %}
          {{ price | money_without_trailing_zeros }}
        {% endif %}
      {% endif %}
    </p>
  </div>
</div>


