{% comment %}

  -----------------------------------------------------------------------------
  Media Promo
  -----------------------------------------------------------------------------

{% endcomment %}

{% comment %} Global Section Settings {% endcomment %}
{% assign bg_color = section.settings.bg_color %}
{% assign justify_content_md_up = section.settings.justify_content_md_up %}
{% assign bg_image_url = section.settings.bg_image
  | img_url: '1000x' %}
{% if bg_image_url contains 'no-image' %}
  {% assign bg_image_url = blank %}
{% endif %}
{% assign bg_image_url_md_up = section.settings.bg_image_md_up
  | img_url: '1000x' %}
{% if bg_image_url_md_up contains 'no-image' %}
  {% assign bg_image_url_md_up = blank %}
{% endif %}

{% comment %} Header Settings {% endcomment %}
{% assign header_container_col = section.settings.header_container_col %}
{% assign header_container_col_md_up = section.settings.header_container_col_md_up  %}
{% assign header_container_justify_container = section.settings.header_container_justify_container %}
{% assign header_container_justify_container_md_up = section.settings.header_container_justify_container_md_up %}
{% assign header_container_text_align = section.settings.header_container_text_align %}
{% assign header_container_text_align_md_up = section.settings.header_container_text_align_md_up %}

{% comment %} Media Container Settings {% endcomment %}
{% for block in section.blocks limit:1 %}
  {% capture rendered_media %}
    {% if block.type == 'video' %}
      {% assign video_url = block.settings.video_url %}
      {% assign video_aspect_ratio = block.settings.video_aspect_ratio %}
      {% render 'video-object'
                  video_url: video_url
                  video_aspect_ratio: video_aspect_ratio
      %}
    {% elsif block.type == 'image' %}
      {% assign image_url = block.settings.image.src
        | img_url: '600x' %}
      {% assign image_url_md_up = block.settings.image_md_up.src
        | img_url: '800x' %}
      {% assign image_aspect_ratio = block.settings.image_aspect_ratio %}
      {% if block.settings.image_md_up.alt != blank%}
        {% assign image_alt_text = block.settings.image_md_up.alt %}
      {% elsif block.settings.image.alt != blank %}
        {% assign image_alt_text = block.settings.image.alt %}
      {% endif %}
      {% render 'image-object',
        image_url: image_url,
        image_url_md_up: image_url_md_up,
        image_alt_text: image_alt_text
        image_aspect_ratio: image_aspect_ratio
      %}
    {% endif %}
  {% endcapture %}
{% endfor %}

{% comment %} Media Container Classes {% endcomment %}
{% assign media_classes = 'col-12 col-md-7 mb-3 mb-md-0 d-flex align-items-start flex-column' %}
{% assign media_classes = media_classes
  | append: ' '
  | append: justify_content_md_up %}

{% comment %} Image Content Container Settings {% endcomment %}
{% assign image_aspect_ratio = section.settings.image_aspect_ratio %}
{% assign image_aspect_ratio_classes = image_aspect_ratio %}
{% assign image_alt_text = section.settings.image_alt_text %}
{% assign image_url = section.settings.image | img_url: '800x' %}
{% if image_url contains 'no-image' %}
  {% assign image_url = blank %}
{% endif %}
{% assign image_url_md_up = section.settings.image_md_up | img_url: '1000x' %}
{% if image_url_md_up contains 'no-image' %}
  {% assign image_url_md_up = blank %}
{% endif %}

{% comment %} Image Class Container Settings {% endcomment %}
{% assign image_classes = 'mb-4' %}

{% comment %} Content Container Settings {% endcomment %}
{% assign content_order_md_up = section.settings.content_order_md_up %}
{% assign eyebrow_style = section.settings.eyebrow_style %}
{% assign eyebrow_text = section.settings.eyebrow_text %}
{% assign heading_style = section.settings.heading_style %}
{% assign heading_text = section.settings.heading_text %}
{% assign content_color = section.settings.content_color %}
{% assign paragraph_text = section.settings.paragraph_text %}
{% assign link_text = section.settings.link_text %}
{% assign link_url = section.settings.link_url %}
{% assign link_style = section.settings.link_style %}

{% comment %} Content Container Wrapper Classes {% endcomment %}
{% assign content_container_wrapper_classes = 'col-12 col-md-5' %}
{% assign content_container_wrapper_classes = content_container_wrapper_classes
  | append: ' '
  | append: content_order_md_up %}
{% assign content_container_wrapper_classes = content_container_wrapper_classes
  | append: ' '
  | append: 'd-flex align-items-start flex-column' %}
{% assign content_container_wrapper_classes = content_container_wrapper_classes
  | append: ' '
  | append: justify_content_md_up %}

{% comment %} Content Container Classes {% endcomment %}
{% assign content_classes = 'pr-5 my-3' %}

{% comment %} Section Layout Settings {% endcomment %}
{% assign pt = section.settings.pt %}
{% assign pb = section.settings.pb %}
{% assign pt_md_up = section.settings.pt_md_up %}
{% assign pb_md_up = section.settings.pb_md_up %}
{% assign mt = section.settings.mt %}
{% assign mb = section.settings.mb %}
{% assign mt_md_up = section.settings.mt_md_up %}
{% assign mb_md_up = section.settings.mb_md_up %}

{% comment %} Section Layout Classes {% endcomment %}
{% assign section_classes =  'position-relative' %}
{% assign section_classes = section_classes
  | append: ' '
  | append: bg_color %}
{% assign section_classes = section_classes
  | append: ' pt-'
  | append: pt %}
{% assign section_classes = section_classes
  | append: ' pb-'
  | append: pb %}
{% assign section_classes = section_classes
  | append: ' pt-md-'
  | append: pt_md_up %}
{% assign section_classes = section_classes
  | append: ' pb-md-'
  | append: pb_md_up %}
{% assign section_classes = section_classes
  | append: ' mt-'
  | append: mt %}
{% assign section_classes = section_classes
  | append: ' mb-'
  | append: mb %}
{% assign section_classes = section_classes
  | append: ' mt-md-'
  | append: mt_md_up %}
{% assign section_classes = section_classes
  | append: ' mb-md-'
  | append: mb_md_up %}

{% comment %} Container Settings {% endcomment %}
{% assign container = section.settings.container %}

{% comment %} Container Classes {% endcomment %}
{% assign vertically_padded_content = section.settings.vertically_padded_content %}
{% assign container_classes = container %}
{% if vertically_padded_content %}
  {% assign container_classes = container_classes
    | append: ' py-5'%}
{% endif %}

{% comment %} Row Classes {% endcomment %}
{% assign row_classes = 'row'%}

{% comment %} Render HTML Content? {% endcomment %}
{% if image_url != blank %}
  {% assign show_rendered_content = true %}
{% elsif image_url_md_up != blank %}
  {% assign show_rendered_content = true %}
{% elsif eyebrow_text != blank %}
  {% assign show_rendered_content = true %}
{% elsif heading_text != blank %}
  {% assign show_rendered_content = true %}
{% elsif paragraph_text != blank %}
  {% assign show_rendered_content = true %}
{% elsif link_text != blank %}
  {% assign show_rendered_content = true %}
{% elsif link_url != blank %}
  {% assign show_rendered_content = true %}
{% elsif link_style != blank %}
  {% assign show_rendered_content = true %}
{% else %}
  {% assign show_rendered_content = false %}
{% endif %}

{% comment %} Render {% endcomment %}
{% unless show_rendered_content == false %}
  <section
    class="{{ section_classes }}"
    data-section-id="{{ section.id }}"
    data-section-type="image-content">
    {% comment %} Background Image {% endcomment %}
    {% if bg_image_url != blank %}
      <style>
        [data-section-id="{{ section.id }}"] {
          background-image: url({{ bg_image_url }});
          background-size: cover;
        }
      </style>
    {% elsif bg_image_url_md_up != blank %}
      <style>
        [data-section-id="{{ section.id }}"] {
          background-image: url({{ bg_image_url_md_up }});
          background-size: cover;
        }
      </style>
    {% endif %}

    {% if bg_image_url_md_up != blank %}
      <style>
        @media (min-width: 992px) {
          [data-section-id="{{ section.id }}"] {
            background-image: url({{ bg_image_url_md_up }});
            background-size: cover;
          }
        }
      </style>
    {% elsif bg_image_url != blank %}
      <style>
        @media (min-width: 992px) {
          [data-section-id="{{ section.id }}"] {
            background-image: url({{ bg_image_url }});
            background-size: cover;
          }
        }
      </style>
    {% endif %}

    <div class="{{ container_classes }}">
      <div class="{{ row_classes }}">
        <div class="{{ media_classes }}">
          {{ rendered_media }}
        </div>
        <div class="{{ content_container_wrapper_classes }}">
          {% if image_url != blank or image_url_md_up != blank %}
            {% render 'image-object'
              image_url: image_url,
              image_url_md_up: image_url_md_up,
              image_alt_text: image_alt_text,
              image_aspect_ratio: image_aspect_ratio_classes %}
          {% endif %}
          <div class="{{ content_classes }}">
            {% render 'content-object'
              eyebrow_text: eyebrow_text,
              eyebrow_style: eyebrow_style,
              content_color: content_color,
              heading_text: heading_text,
              heading_style: heading_style,
              paragraph_text: paragraph_text,
              col: header_container_col,
              col_md_up: header_container_col_md_up,
              justify_container: header_container_justify_container,
              justify_container_md_up: header_container_justify_container_md_up,
              text_align: header_container_text_align,
              text_align_md_up: header_container_text_align_md_up %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endunless %}