{% comment %}

  -----------------------------------------------------------------------------
  Section Wrapper
  -----------------------------------------------------------------------------

  Requires:

  - Background Color Element - `snippets/bg-color-element.liquid`
  - Section ID

{% endcomment %}

{% capture bg_image_style_tag %}
  {% render 'bg-image-tag'
    id: section_id,
    bg_image_url: bg_image_url,
    bg_image_url_lg: bg_image_url_lg,
    bg_color: bg_color,
    bg_color_alpha: bg_color_alpha %}
{% endcapture %}

{% comment %} Section Classes {% endcomment %}
{% if pt != 0 %}
  {% assign section_classes = section_classes
    | append: ' pt-'
    | append: pt %}
{% endif %}

{% if pb != 0 %}
  {% assign section_classes = section_classes
  | append: ' pb-'
  | append: pb %}
{% endif %}

{% if pt_md_up != 0 %}
  {% assign section_classes = section_classes
  | append: ' pt-md-'
  | append: pt_md_up %}
{% endif %}

{% if pb_md_up != 0 %}
  {% assign section_classes = section_classes
  | append: ' pb-md-'
  | append: pb_md_up %}
{% endif %}

{% if mt != 0 %}
  {% assign section_classes = section_classes
  | append: ' mt-'
  | append: mt %}
{% endif %}

{% if mb != 0 %}
  {% assign section_classes = section_classes
  | append: ' mb-'
  | append: mb %}
{% endif %}

{% if mt_md_up != 0 %}
  {% assign section_classes = section_classes
  | append: ' mt-md-'
  | append: mt_md_up %}
{% endif %}

{% if mb_md_up != 0 %}
  {% assign section_classes = section_classes
  | append: ' mb-md-'
  | append: mb_md_up %}
{% endif %}

{% if section_id != blank %}
  {% assign section_classes = section_classes
  | append: ' bg-image-'
  | append: section_id %}
{% endif %}

<section
  class="{{ section_classes }}"
  data-section-id="{{ section_id }}"
  data-section-type="{{ section_type }}">
  {{ bg_image_style_tag }}

  {% if content_header != blank %}
    {{ content_header }}
  {% endif %}

  {% if content != blank %}
    {{ content }}
  {% endif %}

  {% if content_footer != blank %}
    {{ content_footer }}
  {% endif %}
</section>