{% comment %} Global Section Settings {% endcomment %}
{% assign background_color = section.settings.background_color %}
{% assign bg_image_url = section.settings.bg_image | img_url: '1000x' %}
{% if bg_image_url contains 'no-image' %}
  {% assign bg_image_url = blank %}
{% endif %}
{% assign bg_image_url_lg = section.settings.bg_image_lg | img_url: '1000x' %}
{% if bg_image_url_lg contains 'no-image' %}
  {% assign bg_image_url_lg = blank %} 
{% endif %}

{% comment %} Header Settings {% endcomment %}
{% assign header_container_col = section.settings.header_container_col %}
{% assign header_container_col_lg = section.settings.header_container_col_lg  %}
{% assign header_container_justify_container = section.settings.header_container_justify_container %}
{% assign header_container_justify_container_lg = section.settings.header_container_justify_container_lg %}
{% assign header_container_text_align = section.settings.header_container_text_align %}
{% assign header_container_text_align_lg = section.settings.header_container_text_align_lg %}

{% comment %} Content Container Settings {% endcomment %}
{% assign eyebrow_style = section.settings.eyebrow_style %}
{% assign eyebrow_text = section.settings.eyebrow_text %}
{% assign heading_style = section.settings.heading_style %}
{% assign heading_text = section.settings.heading_text %}
{% assign content_color = section.settings.content_color %}
{% assign paragraph_text = section.settings.paragraph_text %}
{% assign link_text = section.settings.link_text %}
{% assign link_url = section.settings.link_url %}
{% assign link_style = section.settings.link_style %}

{% comment %} Video Container Settings {% endcomment %}
{% assign video_url = section.settings.video_url %}
{% assign video_aspect_ratio = section.settings.video_aspect_ratio %}
{% assign video_container_col = section.settings.header_container_col %}
{% assign video_container_col_lg = section.settings.video_container_col_lg  %}
{% assign video_container_justify_container = section.settings.video_container_justify_container %}
{% assign video_container_justify_container_lg = section.settings.video_container_justify_container_lg %}
{% assign video_container_text_align = section.settings.video_container_text_align %}
{% assign video_container_text_align_lg = section.settings.video_container_text_align_lg %}

{% comment %} Content Container Classes {% endcomment %}
{% assign content_classes = 'col-12' %} 
{% assign content_classes = content_classes | append: ' ' | append: 'py-4 py-sm-0 mb-4' %}

{% comment %} Section Layout Settings {% endcomment %}
{% assign pt = section.settings.pt %}
{% assign pb = section.settings.pb %}
{% assign pt_md_up = section.settings.pt_md_up %}
{% assign pb_md_up = section.settings.pb_md_up %}
{% assign mt = section.settings.mt %}
{% assign mb = section.settings.mb %}
{% assign mt_md_up = section.settings.mt_md_up %}
{% assign mb_md_up = section.settings.mb_md_up %}

{% comment %} Section Layout Classes {% endcomment %}
{% assign section_classes =  'position-relative' %}
{% assign section_classes = section_classes | append: ' ' | append: background_color %}
{% assign section_classes = section_classes | append: ' pt-' | append: pt %}
{% assign section_classes = section_classes | append: ' pb-' | append: pb %}
{% assign section_classes = section_classes | append: ' pt-md-' | append: pt_md_up %}
{% assign section_classes = section_classes | append: ' pb-md-' | append: pb_md_up %}
{% assign section_classes = section_classes | append: ' mt-' | append: mt %}
{% assign section_classes = section_classes | append: ' mb-' | append: mb %}
{% assign section_classes = section_classes | append: ' mt-md-' | append: mt_md_up %}
{% assign section_classes = section_classes | append: ' mb-md-' | append: mb_md_up %}

{% comment %} Container Settings {% endcomment %}
{% assign container = section.settings.container %}

{% comment %} Container Classes {% endcomment %}
{% assign vertically_padded_content = section.settings.vertically_padded_content %}
{% assign container_classes = container %}
{% if vertically_padded_content %}
  {% assign container_classes = container_classes | append: ' py-5'%}
{% endif %}

{% comment %} Row Classes {% endcomment %}
{% assign row_classes = 'row'%}

{% comment %}  {% endcomment %}
{% assign video_classes = 'col-12 mb-3' %}

{% comment %} Render HTML Content? {% endcomment %}
{% if eyebrow_text != blank %}
  {% assign show_rendered_content = true %}  
{% elsif heading_text != blank %}
  {% assign show_rendered_content = true %}
{% elsif paragraph_text != blank %}
  {% assign show_rendered_content = true %}    
{% elsif video_url != blank %}  
  {% assign show_rendered_content = true %}    
{% elsif link_text != blank %}
  {% assign show_rendered_content = true %}  
{% elsif link_url != blank %}
  {% assign show_rendered_content = true %}
{% elsif link_style != blank %}
  {% assign show_rendered_content = true %}      
{% else %}
  {% assign show_rendered_content = false %}
{% endif %}

{% comment %} Render {% endcomment %}
{% unless show_rendered_content == false %}
  <section class="{{ section_classes }}" data-section-id="{{ section.id }}">
    {% comment %} Background Image {% endcomment %}
    {% if bg_image_url != blank %}
      <style>
        [data-section-id="{{ section.id }}"] { background-image: url({{ bg_image_url }}); background-size: cover; }
      </style>
    {% elsif bg_image_url_lg != blank %}  
      <style>
        [data-section-id="{{ section.id }}"] { background-image: url({{ bg_image_url_lg }}); background-size: cover; }
      </style>
    {% endif %}

    {% if bg_image_url_lg != blank %}
      <style>
        @media (min-width: 992px) {
          [data-section-id="{{ section.id }}"] { background-image: url({{ bg_image_url_lg }}); background-size: cover; }
        }
      </style>
    {% elsif bg_image_url != blank %}  
      <style>
        @media (min-width: 992px) {
          [data-section-id="{{ section.id }}"] { background-image: url({{ bg_image_url }}); background-size: cover; }
        }
      </style>
    {% endif %}    
 
    <div class="{{ container_classes }}">
      <div class="{{ row_classes }}">
        <div class="{{ content_classes }}">
          {% render 'content-object' 
                    eyebrow_text: eyebrow_text, 
                    eyebrow_style: eyebrow_style,
                    content_color: content_color,
                    heading_text: heading_text,
                    heading_style: heading_style,
                    paragraph_text: paragraph_text,
                    col: header_container_col,
                    col_lg: header_container_col_lg,
                    justify_container: header_container_justify_container,
                    justify_container_lg: header_container_justify_container_lg,
                    text_align: header_container_text_align,
                    text_align_lg: header_container_text_align_lg
          %}
        </div>
      </div>
      <div class="{{ row_classes }}">
        <div class="{{ video_classes }}">
          {% render 'video-object' 
                      video_url: video_url, 
                      video_aspect_ratio: video_aspect_ratio,
                      col: video_container_col,
                      col_lg: video_container_col_lg,
                      justify_container: video_container_justify_container,
                      justify_container_lg: video_container_justify_container_lg,
                      text_align: video_container_text_align,
                      text_align_lg: video_container_text_align_lg
          %}
        </div>
      </div>
      <div class="{{ row_classes }}">
        <div class="{{ content_classes }}">
          <div class="w-100 text-center">
            {% render 'link-element',
                        link_text: link_text,
                        link_url: link_url,
                        link_style: link_style
            %}
          </div>
        </div>
      </div>      
    </div>
  </section>
{% endunless %}