{% comment %} 

  -----------------------------------------------------------------------------
  Video Object
  -----------------------------------------------------------------------------

  Usage:

  {% render 'video-object',
              video_url: { obj } - expects video object from theme settings
              video_aspect_ratio: { string } - i.e. 1by1
  %}

{% endcomment %}

{% comment %} Class defaults {% endcomment %}
{% assign classes = 'embed-responsive' %}

{% if video_aspect_ratio != blank %}
  {% assign classes = classes | append: ' embed-responsive-' | append: video_aspect_ratio %}
{% else %}
  {% assign classes = classes | append: ' ' | append: 'embed-responsive-4by3' %}
{% endif %}

{% assign responsive_item_classes = 'embed-responsive-item' %}

{% comment %} HTML content {% endcomment %}
<div class="{{ classes }}">
  {% if video_url.type == 'youtube' %}
    <iframe class="{{ responsive_item_classes }}" width="560" height="315" src="https://www.youtube.com/embed/{{ video_url.id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% elsif video_url.type == 'vimeo' %}    
    <iframe class="{{ responsive_item_classes }}" src="https://player.vimeo.com/video/{{ video_url.id }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  {% endif %}
</div>